<h1 class="mb-4">Orders</h1>
<% @orders.each do |order| %>
  <article class="card">
    <div class="card-body">
      <h4><%= order.title %></h4>
      <span> Status:</span>
      <%= order.aasm_state %>
      <section class="card-text">
        <span> Deadline:</span>
        <time datetime="<%= order.deadline %>">
          <small><%= order.deadline %></small>
        </time>
      </section>
      <%= link_to 'Show', order_path(order), class: "btn btn-outline-success my-2 my-sm-0" %>
      <% if current_user.id == order.user.id || current_user.admin? %>
        <%= link_to 'Delete', order_path(order), method: :delete, class: "btn btn-outline-danger my-2 my-sm-0" %>
      <% end %>
      <% if current_user.id == order.user.id %>
        <% if order.aasm_state == 'open' %>
          <%= link_to 'In progress', order_path(order, action_type: :take), method: :patch, class: "btn btn-outline-info my-2 my-sm-0" %>
        <% end %>
        <% if order.aasm_state == 'in_progress' %>
          <%= link_to 'Open', order_path(order, action_type: :cancel), method: :patch, class: "btn btn-outline-info my-2 my-sm-0" %>
          <%= link_to 'Completed', order_path(order, action_type: :complete), method: :patch, class: "btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
      <% end %>
    </div>
  </article>
<% end %>
