<h1><%= @order.title %> </h1>
<p>
  <time datetime="<%= @order.formatted_created_at %>">
    <%= @order.formatted_created_at %>
  </time>
  
  <%= @order.description%>
  <%= @order.category.title%>
</p>
