<main class="form-signin">
  <h2>Edit your profile</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <form>
      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control my-2", id: "floatingInput" %>
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control my-2", id: "floatingInput", required: true %>
        <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating">
        <%= f.text_field :contacts, autofocus: true, autocomplete: "contacts", class: "form-control my-2", id: "floatingInput", required: true %>
        <label for="floatingInput">Contacts</label>
      </div>
      <% if current_user.translator? %>
        <div class="form-floating">
          <%= f.text_field :pricing, autofocus: true, autocomplete: "pricing", class: "form-control my-2", id: "floatingInput" %>
          <label for="floatingInput">Pricing(for 1000 symbols)</label>
        </div>
        <span>Choose your categories:</span>
        <div>
          <%= collection_check_boxes(
            :user, 
            :category_ids, 
            (current_user.categories + Category.where('categorable_id <> ? and categorable_type <> ?', current_user.id, 'User')).uniq { |item| item.title }, 
            :id, 
            :title) do |b| %>
            <li>
              <%= b.check_box %>
              <%= b.label %>
            </li>
          <% end %>
        </div>
      <%end%>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="form-floating">
        <%= f.password_field :password, autofocus: true, class: "form-control my-2", id: "floatingInput" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <label for="floatingInput">password</label>
      </div>
      <div class="form-floating">
        <%= f.password_field :password_confirmation, autofocus: true, class: "form-control my-2", id: "floatingInput" %>
        <label for="floatingInput">password confirmation</label>
      </div>
      <div class="form-floating">
        <%= f.password_field :current_password, autofocus: true, class: "form-control my-2", id: "floatingInput" %>
        <label for="floatingInput">Current password</label>
      </div>
      <div class="actions">
        <button class="w-100 btn btn-lg btn btn-outline-success my-2 my-sm-0" type="submit">Update</button>
        <p class="mt-5 mb-3 text-muted">
        </div>
      </form>
    <% end %>
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: "w-100 btn btn-lg btn btn-outline-danger my-2 my-sm-0", data: { confirm: "Are you sure?" }, method: :delete %></p>
    <%= button_to "Back", registration_path(resource_name), class: "w-100 btn btn-lg btn btn-outline-dark my-2 my-sm-0" %>
