<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <main class="form-signin">
    <form>
      <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "floatingInput" %>
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <%= f.password_field :password, autofocus: true, class: "form-control", id: "floatingInput" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <label for="floatingInput">password</label>
      </div>
      <div class="form-floating">
        <%= f.password_field :password_confirmation, autofocus: true, class: "form-control", id: "floatingInput" %>
        <label for="floatingInput">password confirmation</label>
      </div>
      <div class="form-floating">
        <%= f.text_field :role, autofocus: true, class: "form-control", id: "floatingInput" %>
        <label for="floatingInput">role</label>
      </div>
      <button class="w-100 btn btn-lg btn btn-outline-success my-2 my-sm-0" type="submit">Sign up</button>
      <p class="mt-5 mb-3 text-muted">
        <%#<%= link_to 'Log in', new_user_session_path %></p>
    </form>
  </main>
<% end %>
<%= render "devise/shared/links" %>
